 <!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<style>
		h1 {
			text-align: center;
				}
		form {
			width: 300px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 8px;
			background-color: #f9f9f9;
		}
	</style>
<head>
	<title>Exito</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		</head>
<body>
	<h1>Inmueble guardado</h1>
	<form>
		<p>✅ El inmueble se ha guardado correctamente.</p>
		<a th:href="@{/alta}">Dar de alta otro inmueble</a>
		<br><br>
		<a href="/inicio">Volver al inicio</a>
	</form>
</body>
</html>
