 <!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<style>
		h1 {
			text-align: center;
				}
		form {
			width: 300px;
			margin: 0 auto; /* Centra horizontalmente */
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 8px;
			background-color: #f9f9f9;
		}
	</style>
	<head>
		<title>Pago</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Pago</h1>
		<form action="#" th:action="@{/pago}" th:object="${pago}" method="post">
			<p>Página de pago bien guaparda disponible para la siguiente entrega :)</p>
			<a href="/registro">¿No tienes cuenta? Regístrate</a>
			<p>
				<a href="/login">¿Ya tienes usuario?</a>
			</p>
		</form>
	</body>
</html>