<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<style>
			h1 {
				text-align: center;
			}
			form {
				width: 300px;
				margin: 0 auto;
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 8px;
				background-color: #f9f9f9;
			}
		</style>
	<head>
		<title>Registro de usuario</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Registro</h1>
		<form action="#" th:action="@{/registro}" th:object="${registro}" method="post">
			<p>Nombre: <input type="text" th:field="*{nombre}" required /></p>
			<p>Apellidos: <input type="text" th:field="*{apellidos}" required /></p>
			<p>Dirección: <input type="text" th:field="*{direccion}" required /></p>
			<p>Nombre de usuario: <input type="text" th:field="*{login}" required /></p>
			<p>Contraseña: <input type="password" th:field="*{pass}" required /></p>
			<p>Tipo de usuario:
            <select name="tipoUsuario">
                <option value="inquilino">Inquilino</option>
                <option value="propietario">Propietario</option>
            </select>
        	</p>  
			<p>
				<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
			</p>
			<p><a href="/login">¿Ya tienes usuario?</a></p>
			<p><a href="/inicio">Volver al inicio</a></p>
		</form>
	</body>
</html>