 <!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<style>
		h1 {
			text-align: center;
				}
		form {
			width: 300px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 8px;
			background-color: #f9f9f9;
		}
	</style>
	<head>
		<title>Reserva</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Reservar</h1>
		<form action="#" th:action="@{/reservar}" th:object="${reserva}" method="post">
			<p>Fecha inicio: <input type="date" th:field="*{fechaInicio}" required /></p>
        	<p>Fecha fin: <input type="date" th:field="*{fechaFin}" required /></p>
			<div th:if="${error}" class="error-message">
			    <p th:text="${error}"></p>
			</div>
			<p>Fechas ya reservadas:</p>
			<ul>
			    <li th:each="res : ${reservasExistentes}">
			        <span th:text="${res.fechaInicio}"></span> - 
			        <span th:text="${res.fechaFin}"></span>
			    </li>
			</ul>
			<p>
				<input type="submit" value="Submit" /> <input type="reset" value="Reset" /> 
			</p>
		</form>
	</body>
</html>