<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Información de inquilino</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1 {
            text-align: center;
        }
        form {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>Inquilino</h1>
    <form>
        <p th:text="'Nombre: ' + ${registro.nombre}"></p>
        <p th:text="'Apellidos: ' + ${registro.apellidos}"></p>
        <p th:text="'Dirección: ' + ${registro.direccion}"></p>
        <p th:text="'Nombre de usuario: ' + ${registro.login}"></p>
        <a href="/login">Entrar con otro usuario</a>
		<p><a href="/inicio">Volver al inicio</a></p>
    </form>
</body>
</html>